.navigation {
  background-color: gray;
}

.nav_bar {
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 35px;
}

.nav_search_bar input {
  width: 100%;
  border: none;
  padding: 10px 20px;
  border-radius: 5%;
  outline: none;
  font-size: 20px;
}

.form_inputs {
  width: 100%;
  margin: 10px auto;
  text-align: center;
}

.input {
  width: 90%;
  padding: 15px 30px;
  margin: 10px auto;
  border: none;
  box-shadow: 4px 1px 1px 1px olive;
  outline: olive;
  border-radius: 20px;
}

form button {
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: olive;
  color: white;
  font-size: 20px;
  cursor: pointer;
  float: right;
  margin-right: 40px;
}

.button_link {
  text-decoration: none;
  color: white;
}

.team_cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.team_card {
  /* display: flex; */
  box-shadow: 2px 4px 2px olive;
  width: 24%;
  margin-bottom: 20px;
}

.team_players {
  display: flex;
}

.team {
  width: 33%;
  margin: 20px;
}

.team-image-div img {
  width: 50%;
  height: 30% !important;
}
